################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StackTracePerformance/bin/Debug
/StackTracePerformance/obj/Debug
/.vs
/StackTracePerformance.sln.DotSettings.user
/StackTracePerformance/obj/Release
